# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/CMakeFiles/
src/logic/CMakeFiles
src/logic/cmake_install.cmake
src/logic/liblogic_lib.a
src/logic/Makefile

src/cmake_install.cmake
src/Makefile
src/CMakeCache.txt
src/SuperMeatyMan